span{color:red;}
button{border: none;border-radius: 10px; background-color: tomato;}
div{text-align: center;padding: 10rem; color: wheat;}
body{background-color: black;font-family: 'Overpass', sans-serif;
    font-family: 'Poppins', sans-serif;}

footer{color: wheat;}
a{color: blueviolet;}